<nav class="news-header">
  <div id="main-news">
    <a href="/" class="ti-home "></a>
    <i class="ti-control-play"></i>
    <a class="news-head" href="/news">Tin tức</a>
    <a class="search-news" href="#">Tìm kiếm thông tin</a>
  </div>
</nav>

<div class="main-news">
    <h1 class="head-text-news">TIN TỨC BẤT ĐỘNG SẢN MỚI NHẤT</h1>
    <h3 class="head-text-news1">Thông tin mới, đầy đủ, hấp dẫn về thị trường bất động sản Việt Nam thông qua dữ liệu lớn về giá, giao dịch, nguồn cung - cầu và khảo sát thực tế của đội ngũ phóng viên, biên tập của bds.com</h3>
</div>
